.contents
  = form_with model: @todo, html: { class: 'form js-form' }, local: true do |f|
    = f.text_field :content, class: 'form__text-field js-form__text-field'
    = f.submit class: 'form__submit js-submit'
  %ul.todos
    = render @todos
